.slide-options {
    position: absolute;    
    right: 0;
    top: 0;
    .slide-options-block {        
        a {
        	display: block;
        	text-decoration: none;
            color: #FFF;
            background: #000;
            opacity: 0.5;
            width: 34px;
    		height: 34px;
    		text-align: center;
    		line-height: 34px;
    		i {
    			font-size: 30px;
    		}
        }
    }
}