/* 编辑工具条 */

#toolbars {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 100%;
    background: #333333;
    .toolbar-list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 17px;
    }
}