.edit-panel {
    position: absolute;
    width: 960px;
    height: 720px;
    background: #FFF;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -360px;
    z-index: -1;
    overflow: hidden;
    .edit-block {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        .anchor-block {
            position: absolute;
            border: 1px solid #20C7EC;
            background: #FFF;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            top: 50%;
            margin-top: -5px;
            display: none;
            &.focus {
                display: block;
            }
        }
        .anchor-left {
            left: 0;
            margin-left: -5px;
            cursor: w-resize;
        }
        .anchor-right {
            right: 0;
            margin-right: -5px;
            cursor: e-resize;
        }
        .edit-div {
            padding: 10px;
            border: 1px solid transparent;
            word-break: break-all;
            &.focus {
                border: 1px solid #20C7EC;
            }
        }
    }
}