.edit-panel {
    position: absolute;
    width: 960px;
    height: 720px;
    background: #FFF;
    border: 1px dashed #C7C7C7;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -360px;
    z-index: -1;
    .edit-block {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        .anchor-block {
            position: absolute;
            border: 1px solid #20C7EC;
            background: #FFF;
            width: 10px;
            height: 10px;
            border-radius: 5px;            
            margin-top: -5px;
            display: none;
            &.focus {
                display: block;
            }
        }
        .anchor-top {
            top: 0;
            left: 50%;
            margin-left: -5px;
            cursor: n-resize;
        }
        .anchor-bottom {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            margin-bottom: -5px;            
            cursor: s-resize;
        }
        .anchor-left {
            top: 50%;
            left: 0;
            margin-left: -5px;
            cursor: w-resize;
        }
        .anchor-right {
            top: 50%;
            right: 0;
            margin-right: -5px;
            cursor: e-resize;
        }
        .edit-div {
            padding: 10px;
            border: 1px solid transparent;
            word-break: break-all;
            &.focus {
                border: 1px solid #20C7EC;
            }
        }
        .img-edit-div {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0;
            text-align: center;
            color: #FFF;
            line-height: 300px;
            i {
                font-size: 200px;
            }
        }
    }
    .image-edit-block {
        width: 360px;
        height: 300px;
        background: #222;
        opacity: 0.9;
    }
}