    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    body {
        background: #F8F8F8;
        overflow: hidden;
    }
    
    .edit-container {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 190px;
        z-index: 1;
    }
    
    *:focus {
        outline: none;
    }
    
    input {
        outline: none;
    }
    
    @media screen and (max-width: 1400px) {
        .edit-container {
            .edit-panel {
                width: 800px;
                height: 600px;
                margin-left: -400px;
                margin-top: -300px;
            }
        }
    }
